<!DOCTYPE html>
<html>
<head>
  <title>Stukplaces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
     <script 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK_6vl6nZdvQUh9-xADqPH-LYplPjsDyI&callback=initMap">
    </script>
</head>
<body>
  
  <%= render "layouts/header" %>

 <% flash.each do |type, message|  %>
  <div class="alert alert-info fade-in">
    <button class="close" data-dismiss="alert">x</button>
    <%= message %>
  </div>
  
  <% end %>
 


<div class="container">
  
 
  
<%= yield %>

</div>
</body>
</html>
